version: '3.8'

services:
  postgres-db:
    build:
      context: docker/db
      dockerfile: Dockerfile
    container_name: web-gallary-db
    environment:
      POSTGRES_DB: web_gallary
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d/init
      - ./db/common:/docker-entrypoint-initdb.d/common
      - ./db/photo:/docker-entrypoint-initdb.d/photo
      - ./db/init/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh

  postgres-test-db:
    build:
      context: docker/db
      dockerfile: Dockerfile
    container_name: web-gallary-test-db
    environment:
      POSTGRES_DB: web_gallary_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d/init
      - ./db/common:/docker-entrypoint-initdb.d/common
      - ./db/photo:/docker-entrypoint-initdb.d/photo
      - ./db/init/init-test-db.sh:/docker-entrypoint-initdb.d/init-test-db.sh