spring:
  application:
    name: WebGallary
  servlet:
    multipart:
      max-file-size: 6MB
      max-request-size: 6MB

server:
  tomcat:
    remoteip:
      remote-ip-header: "x-forwarded-for"
      protocol-header: "x-forwarded-proto"

mybatis:
  type-handlers-package: com.web.gallary.type_handler

management:
  add-application-context-header: false

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36}.%M:%L - %msg%n"

app:
  photo:
    photoCountPerPage: 20
    maxFileSizeMb: 5

auth:
  login:
    failCount: 3
