spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

logging:
  level:
    ROOT: INFO

app:
  photo:
    miniUserUpperLimit: ${MINI_USER_UPPER_LIMIT}
    normalUserUpperLimit: ${NORMAL_USER_UPPER_LIMIT}
    outputPath: ${OUTPUT_PATH}
