<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallary.mapper.KbnMstMapper">
	<select id="select" parameterType="com.web.gallary.entity.KbnMst" resultType="com.web.gallary.entity.KbnMst">
		SELECT
			kbn_class_code AS kbnClassCode,
			kbn_code AS kbnCode,
			created_by AS createdBy,
			created_at AS createdAt,
			sort_order AS sortOrder,
			kbn_group_code AS kbnGroupCode,
			kbn_class_japanese_name AS kbnClassJapaneseName,
			kbn_group_japanese_name AS kbnGroupJapaneseName,
			kbn_japanese_name AS kbnJapaneseName,
			kbn_class_english_name AS kbnClassEnglishName,
			kbn_group_english_name AS kbnGroupEnglishName,
			kbn_english_name AS kbnEnglishName,
			explanation
		FROM
			common.kbn_mst
		<where>
			<if test="kbnClassCode != null"> AND kbn_class_code = #{kbnClassCode}</if>
			<if test="kbnCode != null"> AND kbn_code = #{kbnCode}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
			<if test="kbnGroupCode != null">AND kbn_group_code = #{kbnGroupCode}</if>
			<if test="kbnClassJapaneseName != null"> AND kbn_class_japanese_name = #{kbnClassJapaneseName}</if>
			<if test="kbnGroupJapaneseName != null">AND kbn_group_japanese_name = #{kbnGroupJapaneseName}</if>
			<if test="kbnJapaneseName != null"> AND kbn_japanese_name = #{kbnJapaneseName}</if>
			<if test="kbnClassEnglishName != null"> AND kbn_class_english_name = #{kbnClassEnglishName}</if>
			<if test="kbnGroupEnglishName != null">AND kbn_group_english_name = #{kbnGroupEnglishName}</if>
			<if test="kbnEnglishName != null"> AND kbn_english_name = #{kbnEnglishName}</if>
			<if test="explanation != null"> AND explanation = #{explanation}</if>
		</where>
	</select>
	
	<select id="count" parameterType="com.web.gallary.entity.KbnMst" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			common.kbn_mst
		<where>
			<if test="kbnClassCode != null"> AND kbn_class_code = #{kbnClassCode}</if>
			<if test="kbnCode != null"> AND kbn_code = #{kbnCode}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
			<if test="kbnGroupCode != null">AND kbn_group_code = #{kbnGroupCode}</if>
			<if test="kbnClassJapaneseName != null"> AND kbn_class_japanese_name = #{kbnClassJapaneseName}</if>
			<if test="kbnGroupJapaneseName != null">AND kbn_group_japanese_name = #{kbnGroupJapaneseName}</if>
			<if test="kbnJapaneseName != null"> AND kbn_japanese_name = #{kbnJapaneseName}</if>
			<if test="kbnClassEnglishName != null"> AND kbn_class_english_name = #{kbnClassEnglishName}</if>
			<if test="kbnGroupEnglishName != null">AND kbn_group_english_name = #{kbnGroupEnglishName}</if>
			<if test="kbnEnglishName != null"> AND kbn_english_name = #{kbnEnglishName}</if>
			<if test="explanation != null"> AND explanation = #{explanation}</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.web.gallary.entity.KbnMst">
		INSERT INTO
			common.kbn_mst (
				kbn_class_code,
				kbn_code,
				created_by,
				created_at,
				sort_order,
				kbn_group_code,
				kbn_class_japanese_name,
				kbn_group_japanese_name,
				kbn_japanese_name,
				kbn_class_english_name,
				kbn_group_english_name,
				kbn_english_name,
				explanation
			)
		VALUES
			(
				#{kbnClassCode},
				#{kbnCode},
				#{createdBy},
				NOW(),
				#{sortOrder},
				#{kbnGroupCode},
				#{kbnClassJapaneseName},
				#{kbnGroupJapaneseName},
				#{kbnJapaneseName},
				#{kbnClassEnglishName},
				#{kbnGroupEnglishName},
				#{kbnEnglishName},
				#{explanation}
			)
	</insert>
	
	<update id="update" parameterType="com.web.gallary.entity.KbnMst">
		UPDATE 
			common.kbn_mst
		<set>
			<if test="target.sortOrder != null"> , sort_order = #{target.sortOrder}</if>
			<if test="target.kbnGroupCode != null"> , kbn_group_code = #{target.kbnGroupCode}</if>
			<if test="target.kbnClassJapaneseName != null"> , kbn_class_japanese_name = #{target.kbnClassJapaneseName}</if>
			<if test="target.kbnGroupJapaneseName != null"> , kbn_group_japanese_name = #{target.kbnGroupJapaneseName}</if>
			<if test="target.kbnJapaneseName != null"> , kbn_japanese_name = #{target.kbnJapaneseName}</if>
			<if test="target.kbnClassEnglishName != null"> , kbn_class_english_name = #{target.kbnClassEnglishName}</if>
			<if test="target.kbnGroupEnglishName != null"> , kbn_group_english_name = #{target.kbnGroupEnglishName}</if>
			<if test="target.kbnEnglishName != null"> , kbn_english_name = #{target.kbnEnglishName}</if>
			<if test="target.explanation != null"> , explanation = #{target.explanation}</if>
		</set>
		<where>
			<if test="condition.kbnClassCode != null"> AND kbn_class_code = #{condition.kbnClassCode}</if>
			<if test="condition.kbnCode != null"> AND kbn_code = #{condition.kbnCode}</if>
			<if test="condition.sortOrder != null"> AND sort_order = #{condition.sortOrder}</if>
			<if test="condition.kbnGroupCode != null"> AND kbn_group_code = #{condition.kbnGroupCode}</if>
			<if test="condition.kbnClassJapaneseName != null"> AND kbn_class_japanese_name = #{condition.kbnClassJapaneseName}</if>
			<if test="condition.kbnGroupJapaneseName != null"> AND kbn_group_japanese_name = #{condition.kbnGroupJapaneseName}</if>
			<if test="condition.kbnJapaneseName != null"> AND kbn_japanese_name = #{condition.kbnJapaneseName}</if>
			<if test="condition.kbnClassEnglishName != null"> AND kbn_class_english_name = #{condition.kbnClassEnglishName}</if>
			<if test="condition.kbnGroupEnglishName != null"> AND kbn_group_english_name = #{condition.kbnGroupEnglishName}</if>
			<if test="condition.kbnEnglishName != null"> AND kbn_english_name = #{condition.kbnEnglishName}</if>
			<if test="condition.explanation != null"> AND explanation = #{condition.explanation}</if>
		</where>
	</update>
	
	<delete id="delete" parameterType="com.web.gallary.entity.KbnMst">
		DELETE FROM
			common.kbn_mst
		<where>
			<if test="kbnClassCode != null"> AND kbn_class_code = #{kbnClassCode}</if>
			<if test="kbnCode != null"> AND kbn_code = #{kbnCode}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
			<if test="kbnGroupCode != null">AND kbn_group_code = #{kbnGroupCode}</if>
			<if test="kbnClassJapaneseName != null"> AND kbn_class_japanese_name = #{kbnClassJapaneseName}</if>
			<if test="kbnGroupJapaneseName != null">AND kbn_group_japanese_name = #{kbnGroupJapaneseName}</if>
			<if test="kbnJapaneseName != null"> AND kbn_japanese_name = #{kbnJapaneseName}</if>
			<if test="kbnClassEnglishName != null"> AND kbn_class_english_name = #{kbnClassEnglishName}</if>
			<if test="kbnGroupEnglishName != null">AND kbn_group_english_name = #{kbnGroupEnglishName}</if>
			<if test="kbnEnglishName != null"> AND kbn_english_name = #{kbnEnglishName}</if>
			<if test="explanation != null"> AND explanation = #{explanation}</if>
		</where>
	</delete>
</mapper>