<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.gallary.mapper.PortfolioMapper">
	<select id="select" parameterType="com.web.gallary.entity.Portfolio" resultType="com.web.gallary.entity.Portfolio">
		SELECT
			account_no AS accountNo,
			photo_no AS photoNo,
			created_at AS createdAt,
			sort_order AS sortOrder
		FROM
			photo.portfolio
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
		</where>
	</select>
	
	<select id="count" parameterType="com.web.gallary.entity.Portfolio" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			photo.portfolio
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.web.gallary.entity.Portfolio">
		INSERT INTO
			photo.portfolio (
				account_no,
				photo_no,
				created_at,
				sort_order
			)
		VALUES
			(
				#{accountNo},
				#{photoNo},
				NOW(),
				#{sortOrder}
			)
	</insert>
	
	<update id="update" parameterType="com.web.gallary.entity.Portfolio">
		UPDATE 
			photo.portfolio
		<set>
			<if test="target.sortOrder != null"> , sort_order = #{target.sortOrder}</if>
		</set>
		<where>
			<if test="condition.accountNo != null"> AND account_no = #{condition.accountNo}</if>
			<if test="condition.photoNo != null"> AND photo_no = #{condition.photoNo}</if>
			<if test="condition.sortOrder != null"> AND sort_order = #{condition.sortOrder}</if>
		</where>
	</update>
	
	<delete id="delete" parameterType="com.web.gallary.entity.Portfolio">
		DELETE FROM
			photo.portfolio
		<where>
			<if test="accountNo != null"> AND account_no = #{accountNo}</if>
			<if test="photoNo != null"> AND photo_no = #{photoNo}</if>
			<if test="sortOrder != null"> AND sort_order = #{sortOrder}</if>
		</where>
	</delete>
</mapper>